$primary-color: black;

$primary-font-color: white;

html {
  font-size: 62.5%;
}

@mixin fadein($length) {
  -webkit-animation: fadein $length; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $length; /* Firefox < 16 */
  animation: fadein $length;
}


body {
  background-color: $primary-color;
  color: $primary-font-color;
  font-family: 'Lato', sans-serif;

  margin: 0;

  #not_fancy_stuff{
    z-index: -1;
    position: absolute;
    height: 80vh;
    width: 80vw;
  }

  #landing{
    position: absolute;

    height: 100vh;
    width: 100vw;

    canvas {
      width: 100vw;
      height: 100vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #landing_links{
      position: relative;
      top: 15em;

      @include fadein(8s);

      strong {
        margin: 0 2em 0 2em;
        font-size: 1.4rem;

        color: $primary-font-color;
      }
    }

    h1 {
      font-size: 3rem;
      letter-spacing: 0.5rem;
      text-align: center;

      cursor: default;

      @include fadein(8s);
    }

    h3 {
      @include fadein(8s);
    }
  }

  #content {
    position: relative;
    top: 100vh;
  }

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}